<div id="<%= dom_id message %>">
  <p>
    <strong>Text:</strong>
    <%= message.text %>
  </p>

  <p>
    <strong>Read:</strong>
    <%= message.read %>
  </p>

  <p>
    <strong>Timesent:</strong>
    <%= message.timeSent %>
  </p>

</div>
