<h1>Editing prebivalisca</h1>

<%= render "form", prebivalisca: @prebivalisca %>

<br>

<div>
  <%= link_to "Show this prebivalisca", @prebivalisca %> |
  <%= link_to "Back to prebivaliscas", prebivaliscas_path %>
</div>
