<div id="<%= dom_id najemi %>">
  <p>
    <strong>Dat najema:</strong>
    <%= najemi.dat_najema %>
  </p>

  <p>
    <strong>Dat konec najema:</strong>
    <%= najemi.dat_konec_najema %>
  </p>

</div>
