<p style="color: green"><%= notice %></p>

<h1>Najemis</h1>
<div id="najemis">
  <% @najemis.each do |najemi| %>
    <% if current_user.id == najemi.user_id %>
    <%= render najemi %>
  <% end %>
<% end %>
</div>